/** @format */

:root {
  --color-background: #252422;
  --color-text: #f9cdcd;
  --color-hover: pink;
}

#root {
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version for modern browsers */
}
.sidebar-content {
  position: relative;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
}
.taskbar {
  width: 100vw;
  padding: 1%;

  position: relative;
  right: 0px;
  margin: 0;
  background-color: var(--color-background);
}
.nav {
  max-width: 95vw;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color-background);
  background-color: transparent;
  margin: auto;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navig {
  animation: fadeInFromLeft linear 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: background-color 0.3s ease;
  padding: 0;
  margin: 0;
  width: 100%;
}
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 50px;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  width: 100vw;
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  transform: translateY(0%);
  color: black !important;
  background-color: white !important;
  z-index: 10;
  padding: 1% 0;
  box-sizing: border-box;
  margin: 0;
}
.headroom--pinned .navig {
  background-color: white !important;
  transition: background-color 0.3s ease;
  padding: 0;
  margin: 0;
  width: 100%;
}
.headroom--pinned .nav {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0 2%;
  border-radius: 0;
}
.headroom--pinned a,
.headroom--pinned svg {
  color: black !important;
  transition: color 0.3s ease;
}
@keyframes fadeInFromLeft {
  0% {
    opacity: 0; /* Start slightly faded */
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Return to its normal position */
  }
}

.nav h1 {
  font-size: x-large;
  font-weight: bolder;
}
.nav ul {
  padding-right: 8rem;
  display: flex;
  width: 55%;
}
li {
  list-style: none;
  width: 100%;
}
.taskbar a {
  text-decoration: none;
  color: var(--color-text);
}
image {
  width: 30px;
  margin: 0%;
  padding: 0%;
}
.taskbar svg {
  width: 30px;
  color: var(--color-hover);
  transition: transform 0.4s ease;
  cursor: pointer;
}
.taskbar svg:hover {
  transform: scale(1.3);
}
video {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
li a {
  color: var(--color-text);
  font-size: medium;
  text-decoration: none;
  display: inline-block;
  font-weight: 1000;
  padding: 0.5em;
  margin-left: -0.5rem;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  &:before,
  &:after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--color-text);
    border-radius: 1em;
    bottom: 0.3em;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:before {
    width: 1em;
    transform-origin: left;
  }
  &:after {
    width: 82%;
    left: 1em;
    transform: translateX(110%);
  }
  &:hover:before {
    transform: scaleX(0.3);
  }
  &:hover:after {
    transform: translateX(0);
  }
}
#basictest {
  max-width: 30%;
}
.below11 {
  border-top: var(--color-background) solid;
  border-width: thin;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 15%;
}
.below1 p {
  width: 70%;
  color: var(--color-background);
  font-family: avenir;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.below1 h1 {
  color: var(--color-background);
  font-family: Avenir;
  font-size: 6vw;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}
.pictureline {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
}
.pictureline img {
  width: 29vw;
  transition: transform 0.4s ease; /* Smooth zoom effect */
}
.pictureline img:hover {
  transform: scale(1.2); /* Zoom by 120% */
}
.imgclass {
  overflow: hidden;
}
.pictureline h1 {
  font-weight: 700;
  font-size: larger;
  font-family: Inter;
}
.pictureline p {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 8px;
  color: #666;
  max-width: 29vw;
}
@media only screen and (max-width: 1200px) {
  .nav ul {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .below1 p {
    width: 90%;
    font-size: 5vw;
  }
  .pictureline img {
    width: 90vw;
    transition: transform 0.4s ease; /* Smooth zoom effect */
  }
  .pictureline p {
    max-width: 90vw;
    font-size: 11px;
  }
}
